<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">

<head>
    <title>Connexion à Chacun ses mots</title>

</head>

<body>

    <div th:fragment="contenu">
        <header>
            <h1 id="titre">Connexion</h1>
        </header>
        <section>
            <form action="#" method="post" class="form" id="form">
                <div>
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <div>
                    <input type="checkbox" name="remember" id="remember"></input>
                    <label for="remember">Remember me</label>
                </div>
                <div>
                    <button type="submit" id="boutonLogin">Connexion</button>
                </div>
            </form>
        </section>

        <div>
            <footer>
                <ul>
                    <li>          
                        <a href="csmInscription">pas de compte ?</a>
                    </li>
                    <li>          
                        <a href="csmMenu">Jouer</a>
                    </li>
                    <li>                
                        <a href="#">mot de passe oublié</a>
                    </li>
                </ul>
            </footer>
        </div>
    </div>
    
<script src="ajax.js"></script>
<script src="csmLogin.js"></script> 
</body>

</html>