<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">

<head>
<title>Inscription</title>
</head>

<body>
	<div id="background"></div>
	<div th:fragment="contenu">
		<header>
			<h1 id="titre">Inscription</h1>
		</header>
		<section id="section">
			<form action="#" class="form" method="post" id="form">
				<div>
					<input type="text" name="pseudo" id="pseudo"
						placeholder="pseudo" />
				</div>
				<div>
					<input type="text" name="nom" id="nom"
						placeholder="nom" />
				</div>
				<div>
					<input type="text" name="prenom" id="prenom"
						placeholder="prenom" />
				</div>
				<div>
					<input type="password" name="motDePasse" id="motDePasse"
						placeholder="Password" />
				</div>
				<div>
					<input type="password" name="motDePasse" id="motDePasse2"
						placeholder="Confirm password" />
				</div>
				<div>
					<button type="submit" id="buttonInscription">S'inscrire</button>
				</div>
			</form>
		</section>
		<div>
			<footer>
				<ul>
					<li><a href="connexion">J'ai déjà un compte</a></li>
					<li><a href="menu">Jouer</a></li>
				</ul>
			</footer>
		</div>
	</div>
	<script src="ajax.js"></script>
	<script src="csmLogin.js"></script>


</body>
</html>