<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">

<head>
<title>Inscription</title>
</head>

<body>
	<div id="background"></div>
	<div th:fragment="contenu">
		<header>
			<h1 id="titre">Inscription</h1>
		</header>
		<section id="section">
			<form action="#" class="form" method="post" id="form">
				<div>
					<input type="text" name="username" id="username"
						placeholder="Username" />
				</div>
				<div>
					<input type="email" name="email" id="email" placeholder="Email" />
				</div>
				<div>
					<input type="password" name="pass1" id="password"
						placeholder="Password" />
				</div>
				<div>
					<input type="password" name="pass2" id="password2"
						placeholder="Confirm password" />
				</div>
				<div>
					<input type="checkbox" name="cgu" id="cgu"> <label
						for="cgu" id="cguText">J'accepte les conditions générales
						d'utilisation</label>
				</div>
				<div>
					<button type="submit" id="buttonInscription">S'inscrire</button>
				</div>
			</form>
		</section>
		<div>
			<footer>
				<ul>
					<li><a href="csmConnexion">J'ai déjà un compte</a></li>
					<li><a href="csmMenu">Jouer</a></li>
				</ul>
			</footer>
		</div>
	</div>
	<script src="ajax.js"></script>
	<script src="csmLogin.js"></script>


</body>
</html>