<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">
<head>
<title>Liste des personnes</title>
</head>
<body>
	<div th:fragment="contenu">
		<div>
			<a href="ajouter-joueur"><button>+ Ajouter un joueur</button></a> <a
				href="javascript:history.back()"><button
					class="button-secondary">Retour</button></a>
		</div>
		<div>
			<table>

				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Pseudo</th>
					<th>Type</th>
					<th>Actions</th>
				</tr>

				<tr th:each="joueur : ${joueurs}">
					<td th:text="${joueur.getId()}"></td>
					<td th:text="${joueur.getNom()}"></td>
					<td th:text="${joueur.getPrenom()}"></td>
					<td><span th:text="${joueur.getPseudo()}"></span></td>
					<td th:text="${joueur.getType()}"></td>

					<td><a th:href="@{profil/{joueurId}(joueurId=${joueur.id})}"><button
								class="button-mini">Voir le profil</button></a> <a
						th:href="@{supprimer-joueur/{joueurId}(joueurId=${joueur.id})}"><button
								class="button-mini-red">Supprimer</button></a> <br> <a
						th:href="@{modifier-joueur/{joueurId}(joueurId=${joueur.id})}"><button
								class="button-mini-yellow">Modifier</button></a></td>
				</tr>
			</table>
		</div>
		<a href="home"><button class="button">Retourner à l'écran
				d'accueil</button></a>
	</div>
</body>
</html>