<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(title, contenu)">
<head>
<title th:replace="${title}">Chacun ses mots</title>
<base href="/chacun-ses-mots-web/" />
<link rel="stylesheet" href="/css/csmStyle.css" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

	<nav th:replace="csmNavigation.html"></nav>
	<h1 th:include="${title}" class="container">Chacun ses mots</h1>
	<div th:include="${contenu}" class="container"></div>
</body>
</html>