<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">
<head>
<title>Liste des reponses</title>
</head>
<body>
	<div th:fragment="contenu">
		<h1>Liste des reponses</h1>
		<a href="csmAjouter-reponse" class="btn btn-warning">Ajouter une reponse</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>réponse</th>
					<th>type</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tr th:each="reponse : ${reponses}">
				<td th:text="${reponse.getId()}"></td>
				<td><a th:href="@{csmreponse/{reponseId}(reponseId=${reponse.id})}"
					th:text="${reponse.getDonnee()}"></a></td>
					<td><a th:href="@{csmreponse/{reponseId}(reponseId=${reponse.id})}"
					th:text="${reponse.getType()}"></a></td>
				<td><a th:href="@{csmSupprimer-reponse/{reponseId}(reponseId=${reponse.id})}"
					 class="btn btn-warning">Supprimer</a>
				<td><a th:href="@{csmModifier-reponse/{reponseId}(reponseId=${reponse.id})}" 
					class="btn btn-info">Modifier</a></td>
			</tr>
		</table>
		<a href="csmHome" class="btn btn-warning">Retourner à l'écran d'accueil</a>
	</div>
</body>
</html>