<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="csmStyle.css">
<title>Chacun ses mots - Profil</title>
</head>
<body>
	<div th:fragment="contenu">
		<section>
			<div>
				<h1>VOTRE PROFIL</h1>

				<div>
					<h2>Informations personnelles</h2>
					<header>
						<header>
				</div>
				<table>
					<tr>
						<th>Nom</th>
						<th>Mot de passe</th>
					</tr>
					<tr>
						<th>LE PSEUDO#####</th>
						<th>###### <br> 
						<a href="changepassword.html"><button
									type="submit">Changer le mot de passe</a>
						</th>
					</tr>
				</table>

			</div>
			<div>
				<h2>Informations parties</h2>
				<header>
					</header>
			</div>
			<div>

				<table>
					<tr>
						<th>Parties jouées</th>
						<th>######</th>
					</tr>
					<tr>
						<th>Parties gagnées</th>
						<th>######</th>
					</tr>
					<tr>
						<th>Score moyen</th>
						<th>######</th>
					</tr>
				</table>
			</div>

			<div>
				<h2>Partie en cours</h2>
				<header>
					</header>
			</div>
			<div>
				<table>
					<tr>
						<th>Nombre de tours</th>
						<th>######</th>
					</tr>
					<tr>
						<th>Tour en cours</th>
						<th>######</th>
					</tr>
				</table>
				<div>
					<button type="submit">Rejoindre partie</button>
				</div>
			</div>

			<div>
				<button type="submit" class="button-secondary">Retour</button>
			</div>
				</section>
	</div>

	<script src="ajax.js"></script>
	<script src="js.js"></script>
</body>
</html>