<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">

<head>
<title>Chacun ses mots - Profil</title>
</head>
<body>
	<div th:fragment="contenu">
		<section>
			<div>
				<div>
					<h2>Informations personnelles</h2>
					<header> </header>
				</div>
				<table>
					<tr>
						<th>Nom</th>
						<th>Mot de passe</th>
					</tr>
					<tr>
						<td>bla bla</td>
						<td>bla bla<br> <a href="changepassword">Changer le mot de passe</a>
						</td>
					</tr>
				</table>

			</div>
			<div>
				<h2>Informations parties</h2>
				<header> </header>
			</div>
			<div>

				<table>
					<tr>
						<th>Parties jouées</th>
						<th>Parties gagnées</th>
						<th>Score moyen</th>
					</tr>
					
					<tr>
						<td>######</td>
						<td>######</td>
						<td>######</td>
					</tr>
			
				</table>
			</div>


			<div>
				<button type="submit" class="button-secondary">Retour</button>
			</div>
		</section>
	</div>

	<script src="ajax.js"></script>
	<script src="js.js"></script>
</body>
</html>