<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">
<head>

<title>Chacun ses mots - Score</title>
</head>
<body>
	<div th:fragment="contenu">
		<div class="rowJoueur" th:each="joueur : ${joueurs}">
			<div class="joueurName">[[${joueur.pseudo}]]</div>
			<div class="joueurScore">[[${joueur.score}]]</div>
		</div>
		<div th:if="${tousVotes == true}" class="backToGame">
			<a href="tour">Tour suivant</a>
		</div>
		<div th:if="${tousVotes == false}" class="backToGame">
			<a href="vote">Rafraîchir</a>
		</div>
	</div>
</body>
<footer>
	<a href="csmMenu">Menu</a>
</footer>
</html>