<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">

<head>
<title>Chacun ses mots - Tour [[${partie.tourEnCours}]]</title>
</head>

<body>


	<div th:fragment="contenu">

<section>
		<h1>Joueur A</h1>
		<header> </header>
		<div class="question">
			<div class="text">[[${partie.questionEnCours.donnee}]]</div>
		</div>
		
		<div th:each="carte : ${main}">
			<div name="carteids" class="carteReponse" th:id="${carte.id}">[[${carte.donnee}]]</div>
		</div>

			<div th:each="carte : ${main}">
				<div class="carteReponse" th:id="${carte.id}">[[${carte.donnee}]]</div>
			</div>


			<form action="jouer" class="form" method="GET">
				<input type="hidden" id="r1" name="r1"></input>
				<input type="hidden" id="r2" name="r2"></input>
				<input type="hidden" id="r3" name="r3"></input>
				<div>
					<input name="textes" type="text" id="reponselibreinput"
						placeholder="OU entrez votre saisie">
				</div>
				<div>
					<input type="text" id="re2" name="re2"
						placeholder="OU entrez votre saisie">
				</div>
				<div>
					<input type="text" id="re3" name="re3"
						placeholder="OU entrez votre saisie">
				</div>
				<button type="submit" value="ENVOYER" id="tour-submit-button">ENVOYER</button>

			</form>

			<div>
				<a href="vote">Vote</a>

			</div>


		</section>
		<script src="js/csm-tour.js"></script>
</body>
</div>



</html>