<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">

<head>
<title>Chacun ses mots - Tour</title>
</head>

<body>


	<div th:fragment="contenu">


		<h1>Joueur A</h1>
		<header> </header>
		<div class="question">
			<div type="text">J'aime beaucoup ___.</div>
		</div>
		<div class="carteReponse" cid="1">Unlock !</div>

		<div class="carteReponse" cid="2">les chats</div>

		<div class="carteReponse" cid="3">les cookies</div>

		<div class="carteReponse" cid="4">JAVA</div>

		<section>

			<form action="csmVoteJoueur.html" class="form">
				<div>
					<input type="text" id="reponselibreinput"
						placeholder="OU entrez votre saisie">
				</div>
				<button type="submit" value="ENVOYER" id="tour-submit-button">ENVOYER</button>

			</form>

			<div>
				<a href="csmVoteJoueur.html">Vote</a>

			</div>


		</section>
	</div>
</body>


</html>