<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">

<head>
    <title>Chacun ses mots - Tour</title>
</head>

<body>


    <div th:fragment="contenu">
        <div class="rowJoueur">
            <div class="joueur">Joueur A</div>
        </div>
        <div class="question">
            <div type="text">
                J'aime beaucoup ___.
            </div>
        </div>
        <div class="main">
            <ul>
                <li>
                    <div class="carteReponse" cid="1">Unlock !</div>
                </li>
                <li>
                    <div class="carteReponse" cid="2">les chats</div>
                </li>
                <li>
                    <div class="carteReponse" cid="3">les cookies</div>
                </li>
                <li>
                    <div class="carteReponse" cid="4">JAVA</div>
                </li>
            </ul>
        </div>
        <div class="reponsePerso">
            <input type="text" id="reponselibreinput">
            </input>
        </div>
    </div>
    <div class="envoyer">
        <form action="csmVoteJoueur.html">
            <input type="hidden" name="reponselibre" id="reponselibre" />
            <input type="hidden" name="carteid" id="carteid" />
            <input style="display:none;" type="submit" value="ENVOYER" id="tour-submit-button">
        </form>
    </div>
    <script src="csm-player.js"></script>
    <footer>
        <ul>
            <li>
                <a href="csmVoteJoueur">Vote</a>
            </li>
        </ul>
    </footer>
</body>


</html>