<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{csmLayout.html :: layout(~{::title}, ~{::contenu})}">

<head>

    <title>Chacun ses mots - Vote </title>
</head>

<body>
    <div th:fragment="contenu">

        <div class="question">J'aime beaucoup _____ </div>
        <div class="reponse" cid="1">J'aime beaucoup les chats.</div>
        <div class="form">
            <form action="csmVoteJoueur">
                <input type="hidden" name="voteId" id="voteId">
                <input class="submit-hidden" type="submit" name="submitButton" value="VOTER" />
            </form>
        </div>
    </div>
    
</body>
<footer>
        <a href="csmScore">Score</a>
</footer>

</html>