@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
	padding: 0;
	margin: 0;
}

body {
	/*background-image: url(http://www.ameter-paysages.fr/images/jardin-japonais-wallpaper_2.jpg);*/
	height: 80vh;
	background: #93787f; /* Old browsers */
	background: -moz-linear-gradient(top, #f0f1a9 0%, #8adbd4 45%, #cdc6c8 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f0f1a9 0%, #8adbd4 45%, #cdc6c8 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f0f1a9 0%, #8adbd4 45%, #cdc6c8 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93787f',
		endColorstr='#cdc6c8', GradientType=0); /* IE6-9 */
	color: #0d558e;
	background-repeat: repeat;
	font-family: 'Roboto', sans-serif;
	padding-top: 150px;

	/**background: whitesmoke;*/
}

a:link {
	color: #4f66af;
}

a:hover {
	border-bottom: 2px solid #8adbd4;
	color: #8adbd4;
}

a:visited {
	border-bottom: 2px solid #a868d2;
	color: #a868d2;
}

/* bloc blanc*/
.container {
	min-width: 400px;
	width: 50%;
	margin: auto;
	text-align: center;
	background-color: whitesmoke;
	padding: 20px;
	border-radius: 10px;
}

/* bloc pour le menu*/
.containerMenu {
	width: 50%;
	height: 60%;
	margin: auto;
	text-align: center;
	padding-top: 15%;
}

div.tt {
	background-color: white;
	padding: 15px;
	border-radius: 10px;
}

.containerMenu li {
	display: inline-block;
}

header {
	text-align: center;
	border-bottom: 1px solid #4f66af;
}

h1 {
	padding: 15px;
	font-size: 2.5em;
}

section {
	margin: 20px 0px 20px 0px;
}

.form div {
	padding-bottom: 10px;
}

.form div input[type="text"], .form div input[type="password"], .form div input[type="email"]
	{
	padding: 5px 0px 5px 0px;
	width: 90%;
	font-size: 1.1em;
	font-weight: 100;
	color: white;
	background-color: #cdc6c8;
	border: none;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	height: 40px;
	text-align: left;
	padding: 15px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
	border-bottom: 1px solid #ddd;
}

th {
	height: 50px;
	text-align: center;
	font-size: 1.2em;
	background-color: #b4bdc3;
	color: white;
	padding: 15px;
}


button {
	background-color: #136db3;
	color: white;
	font-size: 1.1em;
	padding: 10px 15px;
	border-radius: 10px;
	margin-top: 10px;
}

.button-secondary {
	background-color: #b4bdc3;
	color: white;
	font-size: 1.1em;
	padding: 10px 15px;
	border-radius: 10px;
	margin-top: 10px;
}

button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0f1a9
		), color-stop(1, #136db3));
	background: -moz-linear-gradient(top, #6492b7 5%, #136db3 100%);
	background: -webkit-linear-gradient(top, #6492b7 5%, #136db3 100%);
	background: -o-linear-gradient(top, #6492b7 5%, #136db3 100%);
	background: -ms-linear-gradient(top, #6492b7 5%, #136db3 100%);
	background: linear-gradient(to bottom, #6492b7 5%, #136db3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6492b7',
		endColorstr='#136db3', GradientType=0);
	background-color: #6492b7;
}

.form div input[type="checkbox"] {
	text-align: left;
	font-size: 0.7em;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
	font-size: 1.0em;
	padding: 0px 15px;
}

footer ul {
	list-style: none;
}

footer ul li {
	display: inline-block;
	font-size: 0.8em;
	padding: 0px 15px;
}

footer ul li a {
	color: rgb(14, 18, 236);
	text-decoration: none;
}

h2#configurer {
	padding-top: 20px;
	padding-bottom: 20px;
}

div.question {
	border-radius: 10px;
	display: inline;
	padding: 2px 5px;
	position: relative;
	animation-name: example;
	animation-duration: 4s;
}

div.carteReponse {
	transition: transform .2s;
	display: flex;
	font-size: 0.7em;
	font-style: normal;
	padding: 0 15px;
	background: wheat;
	border: 1px solid black;
	margin: 5px 30%;
	list-style: none;
}

div.carteReponse:hover {
	transform: scale(1.4);
}

/*@keyframes example{
    0% { left:0px; top :0px}
    25% {left: 200px; top:0px}
    50%{left: 200px; top:200px}
    75%{left:0px; top:200px}
    100%{left:0px; top:0px}
}*/
header#tour {
	text-align: center;
	background-color: whitesmoke;
}

.main ul li {
	list-style: none;
}